In [1]:
import numpy as np
import pandas as pd

In [2]:
# This is a very basic project I took up to teach Python to beginners who are just entering the field of Data Analytics and Data Science.
# I am still working on more complex projects in order to enhance my skills with Python and take up more challenges.

In [3]:
#We are trying to answer the following questions:
#
#
# Titles which are available for more than one platform
#
# Top contending platform
#
# Which type of platform is popular?
#
# Top selling genres
#
# Top publishers by Global Sales
#
# Note: The questions have not been answered in the same order, however all questions have been answered in different segments.

In [4]:
games = pd.read_csv("video_games.csv") #Reading the data stored in a .CSV file which needs to be in the same working directory.

In [5]:
games.head(5) #printing the first 5 rows to understand the given data

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
games_1 = games[['Name','Platform','Genre', 'Publisher','Rating','NA_Sales','EU_Sales','Other_Sales','Global_Sales']]  #Extract specific columns

In [7]:
games_1.Rating.isna().sum() #To detect number of NA values

6769

In [8]:
games_1.Rating.unique() #To find unique Ratings.

array(['E', nan, 'M', 'T', 'E10+', 'K-A', 'AO', 'EC', 'RP'], dtype=object)

In [9]:
games_1.Rating.value_counts() #To find the number of titles that have been rated. This excludes NA values.

E       3991
T       2961
M       1563
E10+    1420
EC         8
RP         3
K-A        3
AO         1
Name: Rating, dtype: int64

In [10]:
games_1.Rating.value_counts().sum() #Only 9950 games have been accounted for based on Ratings.

9950

In [11]:
games_1.Rating.isna().sum() #The other 6769 games have no Ratings/ Ratings have not been logged during creation of the set.

6769

In [12]:
games_1.info() #But we see that we have atleast 16700 games which means the other values which is about 40% of the dataset.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 9 columns):
Name            16717 non-null object
Platform        16719 non-null object
Genre           16717 non-null object
Publisher       16665 non-null object
Rating          9950 non-null object
NA_Sales        16719 non-null float64
EU_Sales        16719 non-null float64
Other_Sales     16719 non-null float64
Global_Sales    16719 non-null float64
dtypes: float64(4), object(5)
memory usage: 1.1+ MB

In [13]:
games_1['Rating'].fillna("PG",inplace = True)

C:\Users\aniru\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [14]:
games_1.Rating.value_counts()

PG      6769
E       3991
T       2961
M       1563
E10+    1420
EC         8
RP         3
K-A        3
AO         1
Name: Rating, dtype: int64

In [15]:
dummy = pd.get_dummies(games_1.Rating)

In [16]:
dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 9 columns):
AO      16719 non-null uint8
E       16719 non-null uint8
E10+    16719 non-null uint8
EC      16719 non-null uint8
K-A     16719 non-null uint8
M       16719 non-null uint8
PG      16719 non-null uint8
RP      16719 non-null uint8
T       16719 non-null uint8
dtypes: uint8(9)
memory usage: 147.0 KB

In [17]:
#games_1 = games_1.append(dummy) This adds games_1 columns after the columns of dummy

In [18]:
games_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 9 columns):
Name            16717 non-null object
Platform        16719 non-null object
Genre           16717 non-null object
Publisher       16665 non-null object
Rating          16719 non-null object
NA_Sales        16719 non-null float64
EU_Sales        16719 non-null float64
Other_Sales     16719 non-null float64
Global_Sales    16719 non-null float64
dtypes: float64(4), object(5)
memory usage: 1.1+ MB

In [19]:
games_2 = games_1.join(dummy, how = 'outer') #df.append rearranges the columns and indexes while df.join does not

In [20]:
games_2[games_2.Name.isna()] #extract games without any names

,Name,Platform,Genre,Publisher,Rating,NA_Sales,EU_Sales,Other_Sales,Global_Sales,AO,E,E10+,EC,K-A,M,PG,RP,T
659,NaN,GEN,NaN,Acclaim Entertainment,PG,1.78,0.53,0.08,2.39,0,0,0,0,0,0,1,0,0
14246,NaN,GEN,NaN,Acclaim Entertainment,PG,0.00,0.00,0.00,0.03,0,0,0,0,0,0,1,0,0

In [21]:
games_names = games_2.drop([games_2.index[659],games_2.index[14246]]) #drop all the games with no Names

In [22]:
games_names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16717 entries, 0 to 16718
Data columns (total 18 columns):
Name            16717 non-null object
Platform        16717 non-null object
Genre           16717 non-null object
Publisher       16663 non-null object
Rating          16717 non-null object
NA_Sales        16717 non-null float64
EU_Sales        16717 non-null float64
Other_Sales     16717 non-null float64
Global_Sales    16717 non-null float64
AO              16717 non-null uint8
E               16717 non-null uint8
E10+            16717 non-null uint8
EC              16717 non-null uint8
K-A             16717 non-null uint8
M               16717 non-null uint8
PG              16717 non-null uint8
RP              16717 non-null uint8
T               16717 non-null uint8
dtypes: float64(4), object(5), uint8(9)
memory usage: 1.4+ MB

In [23]:
games_names[games_names.Rating.isna()].count() #Just verfied that all my Ratings are covered

Name            0
Platform        0
Genre           0
Publisher       0
Rating          0
NA_Sales        0
EU_Sales        0
Other_Sales     0
Global_Sales    0
AO              0
E               0
E10+            0
EC              0
K-A             0
M               0
PG              0
RP              0
T               0
dtype: int64

In [24]:
games_names.Genre.nunique() #Checking the number of genres.

12

In [25]:
#games_names[games_names.Genre == 'Shooter'] (Ignore as I was just trying out something else!)

In [26]:
games_names.groupby('Genre')['Global_Sales'].sum().sort_values(ascending=False).head(3) #checking each game genre by Sales and only displaying top 3
#
# There is yet another way of doing this.
#
# genre_sales = games_names.groupby('Genre')['Global_Sales'].sum().reset_index()
# genre_sales.sort_values(by = 'Global_Sales',ascending=False)
#
# Both will however yield the same results.

Genre
Action     1745.27
Sports     1332.00
Shooter    1052.94
Name: Global_Sales, dtype: float64

In [27]:
# As we can see that the Action genre has the highest sales recorded globally. The sales being 1745.27 million games sold.

In [28]:
games_names.groupby('Publisher')['Global_Sales'].sum().sort_values(ascending=False).head(10) #Grouping the highest sales based on the Publisher of the game.

Publisher
Nintendo                        1788.81
Electronic Arts                 1116.96
Activision                       731.16
Sony Computer Entertainment      606.48
Ubisoft                          471.61
Take-Two Interactive             403.82
THQ                              338.44
Konami Digital Entertainment     282.39
Sega                             270.35
Namco Bandai Games               254.62
Name: Global_Sales, dtype: float64

In [29]:
# Not a surpise that Nintendo is the highest publisher given that their platforms are more exclusive and portable. They also make amazing games.

In [30]:
# Let us now check which platform do people prefer.
games_names[games_names.Platform.isna()] #It's great that none of these are missing or else it'd be a little tough to conclude anything.

Empty DataFrame
Columns: [Name, Platform, Genre, Publisher, Rating, NA_Sales, EU_Sales, Other_Sales, Global_Sales, AO, E, E10+, EC, K-A, M, PG, RP, T]
Index: []

In [31]:
titles = games_names['Platform'].value_counts() #There are really a good number of PS2 games on the list.
titles.head(10)

PS2     2161
DS      2152
PS3     1331
Wii     1320
X360    1262
PSP     1209
PS      1197
PC       974
XB       824
GBA      822
Name: Platform, dtype: int64

In [32]:
platform_sales = games_names.groupby('Platform')['Global_Sales'].sum().sort_values(ascending=False)
platform_sales.head(10)

Platform
PS2     1255.64
X360     971.63
PS3      939.43
Wii      908.13
DS       807.10
PS       730.68
GBA      318.50
PS4      314.23
PSP      294.30
PC       260.30
Name: Global_Sales, dtype: float64

In [33]:
platform_sales = pd.DataFrame(platform_sales)

In [34]:
sales_average = pd.DataFrame(titles).reset_index()
sales_average = sales_average.rename(columns={'index':'Platform','Platform':'Titles_count'})
sales_average = pd.merge(sales_average,platform_sales,on='Platform')
sales_average.head(10)

  Platform  Titles_count  Global_Sales
0      PS2          2161       1255.64
1       DS          2152        807.10
2      PS3          1331        939.43
3      Wii          1320        908.13
4     X360          1262        971.63
5      PSP          1209        294.30
6       PS          1197        730.68
7       PC           974        260.30
8       XB           824        258.26
9      GBA           822        318.50

In [35]:
#The number of titles available is different from the most popular platform. 
#For example, we could have 3000 games for a particular console, but if none of the games sell well, then it wouldn't be the most popular console.

In [36]:
sales_average['Sales_to_titles_ratio']=(sales_average['Global_Sales']/sales_average['Titles_count']*100).round(2)
sales_average

   Platform  Titles_count  Global_Sales  Sales_to_titles_ratio
0       PS2          2161       1255.64                  58.10
1        DS          2152        807.10                  37.50
2       PS3          1331        939.43                  70.58
3       Wii          1320        908.13                  68.80
4      X360          1262        971.63                  76.99
5       PSP          1209        294.30                  24.34
6        PS          1197        730.68                  61.04
7        PC           974        260.30                  26.72
8        XB           824        258.26                  31.34
9       GBA           822        318.50                  38.75
10       GC           556        199.36                  35.86
11      3DS           520        259.09                  49.82
12      PSV           432         54.12                  12.53
13      PS4           393        314.23                  79.96
14      N64           319        218.88                  68.61
15     XOne           247        159.44                  64.55
16     SNES           239        200.05                  83.70
17      SAT           173         33.59                  19.42
18     WiiU           147         82.16                  55.89
19     2600           133         97.08                  72.99
20       GB            98        255.45                 260.66
21      NES            98        251.07                 256.19
22       DC            52         15.97                  30.71
23      GEN            27         28.36                 105.04
24       NG            12          1.44                  12.00
25      SCD             6          1.87                  31.17
26       WS             6          1.42                  23.67
27      3DO             3          0.10                   3.33
28     TG16             2          0.16                   8.00
29       GG             1          0.04                   4.00
30     PCFX             1          0.03                   3.00

In [37]:
sales_average.groupby('Platform')['Sales_to_titles_ratio'].sum().sort_values(ascending=False).head(10)

Platform
GB      260.66
NES     256.19
GEN     105.04
SNES     83.70
PS4      79.96
X360     76.99
2600     72.99
PS3      70.58
Wii      68.80
N64      68.61
Name: Sales_to_titles_ratio, dtype: float64

In [38]:
# As we can see that the Sales to title ratio is the highest for the Nintendo Gameboy Console, that is due the lower number of titles released as compred to the sales.
# On the contrary, Sony's PlayStation 2 has sold the most games globally and yet has a poor sales to title ratio of 58%.
# Statistically, the SNES (Super Nintendo Entertainment System) has proven to be the most popular platform so far with the PlayStation 4 and XBOX360 catching up with its record.

In [39]:
(games_names.groupby('Name')['Platform'].count()>1).sum() # The total count of games available on more than 1 platform

2806

In [50]:
# To confirm if this count is correct, I will now see all the games that are available on more than 10 platforms
(games_names.groupby('Name')['Platform'].nunique()>10).sum()

1

In [51]:
# We can see that by this, there is only 1 game which is available on more than 10 platforms which can be confirmed.

In [52]:
# To verify, let us extract the top 10 from the list of games that are available on more than 1 platform
games_names.groupby('Name')['Platform'].nunique().sort_values(ascending=False).head(10)

Name
Need for Speed: Most Wanted                11
Madden NFL 07                               9
LEGO Marvel Super Heroes                    9
Ratatouille                                 9
FIFA 14                                     9
LEGO Harry Potter: Years 5-7                8
LEGO Jurassic World                         8
LEGO Star Wars II: The Original Trilogy     8
LEGO The Hobbit                             8
FIFA 15                                     8
Name: Platform, dtype: int64

In [53]:
# So we see that 'Need For Speed: Most Wanted' is available on 11 different platforms.
# Let us confirm if this is true.

In [66]:
games_names[games_names['Name'].str.contains('Need for Speed: Most Wanted')]

,Name,Platform,Genre,Publisher,Rating,NA_Sales,EU_Sales,Other_Sales,Global_Sales,AO,E,E10+,EC,K-A,M,PG,RP,T
253,Need for Speed: Most Wanted,PS2,Racing,Electronic Arts,T,2.03,1.79,0.47,4.37,0,0,0,0,0,0,0,0,1
523,Need for Speed: Most Wanted,PS3,Racing,Electronic Arts,PG,0.71,1.46,0.58,2.81,0,0,0,0,0,0,1,0,0
810,Need for Speed: Most Wanted,PSP,Racing,Electronic Arts,E10+,1.77,0.12,0.17,2.07,0,0,1,0,0,0,0,0,0
1190,Need for Speed: Most Wanted,X360,Racing,Electronic Arts,T,0.62,0.78,0.15,1.56,0,0,0,0,0,0,0,0,1
1591,Need for Speed: Most Wanted,X360,Racing,Electronic Arts,T,1.00,0.13,0.10,1.25,0,0,0,0,0,0,0,0,1
1998,Need for Speed: Most Wanted,XB,Racing,Electronic Arts,T,0.53,0.46,0.05,1.04,0,0,0,0,0,0,0,0,1
2048,Need for Speed: Most Wanted,PSV,Racing,Electronic Arts,PG,0.33,0.45,0.22,1.01,0,0,0,0,0,0,1,0,0
3581,Need for Speed: Most Wanted,GC,Racing,Electronic Arts,T,0.43,0.11,0.02,0.56,0,0,0,0,0,0,0,0,1
5973,Need for Speed: Most Wanted,PC,Racing,Electronic Arts,T,0.02,0.23,0.04,0.29,0,0,0,0,0,0,0,0,1
6274,Need for Speed: Most Wanted,WiiU,Racing,Electronic Arts,PG,0.13,0.12,0.02,0.27,0,0,0,0,0,0,1,0,0
6411,Need for Speed: Most Wanted,DS,Racing,Electronic Arts,E,0.24,0.01,0.02,0.27,0,1,0,0,0,0,0,0,0
6474,Need for Speed: Most Wanted,GBA,Racing,Electronic Arts,E,0.19,0.07,0.00,0.26,0,1,0,0,0,0,0,0,0
11716,Need for Speed: Most Wanted,PC,Racing,Electronic Arts,T,0.00,0.06,0.02,0.08,0,0,0,0,0,0,0,0,1

In [56]:
# We are actually right, although we can see 13 different titles. That is because the XBOX 360 and PC had 2 versions of the game released.
# A big round of applause to Electronic Arts for naming 2 different games the same - NFS:MW (2005) and NFS:MW (2012) :/ :/

In [ ]:
# This is the end of Part - 1. Hope this was helpful, I am currently working on more scripts for advanced analysis and visualizations which I hope to upload soon.